<div class="main-page" fxLayout="column" fxLayoutAlign="space-between">

  <div class="header" fxFlex="100px" fxLayout="row" fxLayoutAlign="start center" >
    <label>{{title}}</label>
  </div>



    <md-tab-group fxFlex>
      <md-tab label="Home"><app-home></app-home></md-tab>
      <md-tab label="Account"><app-account></app-account></md-tab>
      <md-tab label="Contact"><app-contact></app-contact></md-tab>
    </md-tab-group>





  <div class="footer" fxFlex="60px" fxLayoutAlign="center center"> 2017 TNA</div>
</div>
