$color-background: #f0f0f0;
$color-background-white: #ffffff;
$color-text: #7a7a68;

$color-text-dark: darken($color-text, 50);
$color-text-light: darken($color-text, 20);

$footer-text-color: #A8AA94;
$footer-background-color: #404040;

$navigation-background-color: #404040;
$navigation-text-color: #ffffff;

$actions-button-hover-color: #FF7400;
